<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hu.qgears.sonar.client/src/hu/qgears/sonar/client/SonarCommandLineInterface.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hu.qgears.sonar.client.SonarCommandLineInterface"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="https://buildserver.qgears.net/space2-sonar/api POST_6_7"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hu.qgears.sonar.client"/>
</launchConfiguration>
